.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin: 15px;

}

.order__options {
  width: 80px;
  color: var(--second-font-color);
  font-weight: var(--heavy-font-weight);
  background-color: var(--dark-color);
  /* border: 1px solid var(--border-color); */
  border: none;
  outline: none;
  /* font-size: var(--large-font-size); */
  font-size: var(--regular-font-size);
}
