@import './variables-styles.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--main-font);
  font-size: 62.5%;
  
 
  /* font-size: var(--regular-font-size); */
}

ul, li, ol {
  list-style: none;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 30px;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 1.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var( --dark-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--active-shadow-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--border-color);
}


.title {
  font-size: var(--extra-jumbo-font-size);
  color: var(--active-color);
  margin: 1rem 0;
}

.subtitle {
  font-size: var(--extra-large-font-size);
  color: var(--active-color);
  margin: 1rem 0;
}

.paragraph {
  font-size: var(--regular-font-size);
  text-align:center;
  letter-spacing: 1px;
  color: var(--main-font-color);
  margin: 1rem 0;
}

.warning {
  font-size: var(--regular-font-size);
  color: var(--active-color); 
  text-align: center;
  margin: 3rem;
}

.slider {
  
}
.btn__primary {
  width: 15rem;
  height: 5rem;
  font-size: var(--main-font-color);
  border: 1px solid var(--active-color);
  box-shadow: var(--shadow-button-color);
  /* animation-name: btn-pulse;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: 5; */
}


.btn__primary:active {
  transform: scale(1.1);
  background-color: var(--dark-color);
}
.bottom--fade {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: rgb(238,238,238);
  background: linear-gradient(180deg, rgba(238,238,238,0) 0%, rgba(5,5,5,0.8718535469107551) 58%);
  /* border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; */
}
.top--fade {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  background: rgb(238,238,238);
  background: linear-gradient(180deg, rgba(238,238,238,0) 0%, rgba(5,5,5,0.8718535469107551) 58%);
}

body {
  background-color: var(--dark-color);
}

body::after {
  background-color: red;
}

.main__container {
  width: 100%;
  margin: 0 auto;
}

.main__container .list--title {
  text-align: start;
  /* margin-left: 1rem; */
}

.second__container {
  width: 95%;
  margin: 0 auto;
  height: auto;
  /* padding: 0 30px; */
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  color: var(--active-color);
  font-size: var(--extra-jumbo-font-size);
}

.items--saved {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: var(--regular-font-size);
  bottom: 0;
  font-weight: var(--heavy-font-weight);
  border-radius: 50%;
  background-color: var(--bad-rating-color);
  animation-name: fav-animation;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  /* text-align: center; */
  /* font-family: var(--second-font); */
}

.items--saved--mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  width: 4rem;
  height: 4rem;
  font-size: var(--large-font-size);
  /* bottom: 0; */
  margin-left: 1rem;
  font-weight: var(--heavy-font-weight);
  border-radius: 50%;
  background-color: var(--bad-rating-color);
  /* text-align: center; */
  /* font-family: var(--second-font); */
}

.library--count {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*ICONS*/
.close--icon {
  position: fixed;
  right: 25px;
  top: 25px;
  z-index: 1;
  font-size: var(--jumbo-font-size);
  color: var(--active-color);
  cursor: pointer;
  transition: .2s ease;
}

.close--icon:hover {
  color: var(--main-font-color);
  transform: rotate(90deg);
  /* background-color: var(--dark-gray-color); */
  /* transform: scale(1.2); */
  /* font-weight: var(--heavy-font-weight); */
}

.star--icon {
  /* position: absolute;
  bottom: 20px; */
  margin-right: 10px;
  font-size: var(--jumbo-font-size);
  /* color: var(--active-color); */
  color: var(--rating-stars-color);
  /* color: var(--rating-stars-color); */
}

.icon--menu {
  font-size: var(--jumbo-font-size);
  color: var(--active-color);
  cursor: pointer;
  transition: .2s ease;
}

.icon--menu:hover {
  transform: scale(1.1);
}

.search--icon {
  font-size: var(--large-font-size);
}

.down--arrow {
  cursor: pointer;
}
.down--arrow:hover {
}

.dots {
  font-size: var(--extra-jumbo-font-size);
  color: var(--main-font-color);
  cursor: pointer;
  transition: .2s ease;
  border-radius: 50%;
}

.eye--check {
  font-size: var(--regular-font-size);
  color: var(--active-color);
  cursor: pointer;
}

.dots:hover {
  transform: scale(1.2);
  color: var(--active-color);
  /* border: 1px solid var(--active-color);
  border-radius: 50%;
  animation-name: dot-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite; */
}

.add--icon {
  font-size: var(--extra-jumbo-font-size);
  color: var(--main-font-color);
  cursor: pointer;
  transition: .4s ease;
  border-radius: 50%;
}

.add--icon:hover {
  transform: scale(1.2);
  color: var(--active-color);
  /* transform: rotate(90deg); */
  animation-name: pulse-animation;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 2s;
}
.arrows {
  width: 100%;
  height: auto;
  /* position: absolute; */
}
.arrrows__selector {
  display: flex;
  position: absolute;
  overflow-x: hidden;
  /* overflow-wrap: break-word; */
  width: 100%;
  height: 400px;
  bottom: 0; 
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.left--arrow {
  left: 0;
}
.right--arrow {
  right: 0;
}
.left--arrow, .right--arrow {
  visibility: hidden;
  position: absolute;
  bottom: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  color: white;
  font-size: var(--large-font-size);
  transition: .3s ease;
  cursor: pointer;
  z-index: 1;
  /* background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(0,0,0,0.41220238095238093) 90%, rgba(255,255,255,1) 100%); */
}

.to__up {
  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  z-index: 2;
}

.up--arrow {
  position: absolute;
  /* position: absolute; */
  /* position: fixed; */
  font-size: var(--extra-jumbo-font-size);
  color: var(--active-color);
  /* z-index: 2;
  bottom: 10%;
  right: 10%; */
  animation: to-up 4s ease 0s infinite;
  z-index: 3;
}

.wave {
  position: absolute;
  border: 1px solid var(--active-color);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  /* position: fixed;
  bottom: 10%;
  height: 10%; */
  animation: wave-animation 4s ease 0s infinite;
  z-index: 2;
  /* animation-name: ; */
}
.wave2 {
  position: absolute;
  border: 1px solid var(--active-color);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  /* position: fixed;
  bottom: 10%;
  height: 10%; */
  animation: wave-animation2 4s ease .2s infinite;
  z-index: 2;
  /* animation-name: ; */
}
.wave3 {
  position: absolute;
  border: 1px solid var(--active-color);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  /* position: fixed;
  bottom: 10%;
  height: 10%; */
  animation: wave-animation3 4s ease .4s infinite;
  z-index: 2;
  /* animation-name: ; */
}


.left--arrow:active, .right--arrow:active {
  color: var(--active-color);
  transform: scale(1.5);
  border-radius: 50%;
}
.left--arrow:active, .right--arrow:hover {
  color: var(--active-color);
  transform: scale(1.5);
  border-radius: 50%;
}



.games--collection--icon, .search--icon, .user--icon {
  /* margin-right: 10px; */
  font-size: var(--jumbo-font-size);
  color: var(--active-color);
  transition: .3s ease;
}
.games--collection--icon:hover {
  /* margin-right: 10px; */
  transform: scale(1.1);
}
.search--icon:hover {
  /* margin-right: 10px; */
  transform: scale(1.1);
}
.user--icon:hover {
  /* margin-right: 10px; */
  transform: scale(1.1);
}

.my-fade-out {
  /* visibility: visible; */
  /* opacity: 0; */
  /* transition: visibility 0s linear 300ms; */
}



/*ANIMATIONS*/
@keyframes pulse-animation {
  0% {
    opacity: 0;
  } 
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes dot-animation {
  0% {
    /* box-shadow: var(); */
  }
  50% {
    box-shadow: var(--box-shadow-color);
  }
  100% {

  }
}

@keyframes fav-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes to-up {
  0% {
    transform: scale(1);
    /* opacity: 0; */
  }
  70% {
    transform: scale(1.3);
    /* opacity: .8; */
  }
  100% {
    transform: scale(1);
    /* opacity: 1; */
  }
}

@keyframes wave-animation {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes wave-animation2 {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
@keyframes wave-animation3 {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}


@keyframes btn-pulse {
  0% {
    box-shadow: var(--shadow-button-color)
  }
  50% {
    box-shadow: var(--box-shadow-color)
  }
  100% {
    box-shadow: var(--shadow-button-color)
  }
}
/*MEDIA QUERIES*/


@media only screen and ( min-width: 1024px ){
  .left--arrow, .right--arrow {
    visibility: visible;
  }

  .close--icon {
    top: 8%;
    right: 8%;
  }
}