.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--dark-gray-color);
  font-size: var(--large-font-size);
  color: var(--main-font-color);
  z-index: 2;
  /* border-bottom: 3px solid var(--active-color); */
  box-shadow: var(--box-shadow-color);
}

.modal {
  /* display: none; */
}

.menu--overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-color);
  opacity: 0.8;
  z-index: 1;
  animation: fadeIn;
  animation-duration: .5s;
}

.drop__menu {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  width: auto;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  /* border-left: 1px solid var(--active-shadow-color);
  border-bottom: 1px solid var(--active-shadow-color);
  border-bottom-left-radius: 10px; */
  z-index: 2;
  padding: 15px;
  background-color: var(--background-menu-color);
  box-shadow: var(--dark-shadow-color);
  font-size: var(--large-font-size);
  overflow-y: scroll;
  behavior: smooth;
  /* animation: fadeInRight;
  animation-duration: .7s; */
}

.drop__menu .input--link {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.header .close--icon {
  top: 10px;
  right: 10px;
  z-index: 1;
}

.search__bar {
  display: flex;
  height: 40px;
  align-items: center;
  margin: 50px 0;
  /* background-color: var(--border-color); */
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  transition: .4s ease;
  /* box-shadow: var(--box-shadow-color); */
}

.search--input {
  width: 80%;
  height: 100%;
  text-align: center;
  /* padding: 20px 0; */
  outline-style: none;
  color: var(--second-font-color);
  font-size: var(--large-font-size);
}

.button--submit {
  width: 100px;
  height: 100%;
  background-color: var(--second-font-color);
  outline-style: none;
  border: none;
}

.button--submit .search--icon {
  /* width: 20%; */
  /* height: 100%; */
  color: var(--main-font-color);
}

.button--submit .search--icon:hover {
  color: var(--second-font-color);
  /* text-shadow: var(--box-shadow-color); */
}

/* .drop__menu ~ {
  margin-bottom: 20px;
} */



.menu__list {
  display: block;
  color: var(--second-font-color);
  /* border: 3px solid var(--border-color) ; */
  /* box-shadow: var(--box-shadow-color); */
  /* padding: 5px;
  padding: 20px; */
}
.menu__list a {
  /* display: flex;
  width: auto;
  height: auto; */
  text-decoration: none;
  font-size: var(--jumbo-font-size);
  color: var(--second-font-color);
}

.menu__list .btn__primary {
  font-size: var(--large-font-size);
}
.list--item {
  display: flex;
  position: relative;
  justify-content: flex-end;
  /* margin-bottom: 10px; */
  align-items: center;
  font-size: var(--jumbo-font-size);

  cursor: pointer;
  margin: 1rem 1rem;
  transition: .4s ease;
  /* padding-right: 15px; */
  /* position: relative; */
  /* position: relative; */
}

.list--sub {
  width: 100%;  
  height: auto;
  position: relative;
  height: 2rem;
}


.list--item--icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--border-color);
  border-radius: 50%;
}
/* .list--item a {
  position: relative;
} */


.fav__games__list {
  width: 30rem;
  position: absolute;
  background-color: var(--dark-gray-color);
  top: 5rem;
  padding: 1rem;
  border-radius: 10px;
}

.fav--games--item {
  font-size: var(--regular-font-size);
  color: var(--second-font-color);
  transition: .3s ease;
}

.fav--games--item:hover {
  transform: translateX(1rem);
  color: var(--active-color);
}
.sub__menu__genres {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: 5rem;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
  overflow-y: hidden;
}

.genre--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  transition: .5s ease;
  font-size: var(--regular-font-size);
}

.genre--item:active {
  transform: scale(1.1);
  transition: .3s ease;
  color: var(--active-color);
}

.sub__menu__genres .genre--item {
  width: 10rem;
  transition: .5s ease;
  cursor: pointer;
  /* text-align: center; */
  color: var(--second-font-color);
  font-size: var(--extra-large-font-size);
}

.sub__menu__genres .genre--item:hover {
  /* color: red; */
  color: var(--active-color);
  transform: translateY(-1rem);
  font-weight: var(--heavy-font-weight);
  /* font-size: var(--large-font-size); */
} 

.sub--menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 500px;
  position: absolute;
  right: 0;
  top: 140%;
  padding: 10px;
  /* right: 50%; */
  /* left: 50%; */
  background-color: var(--dark-gray-color);
  /* border: 1px solid var(--active-color); */
  border-top: none;
  /* visibility: hidden; */
  animation-name: border-light;
  animation-duration: 4s;
  animation-iteration-count: infinite;  
  transition: .2s ease;
}
.submenu {
  
}
.sub--menu--item {
  margin-right: 10px;
  font-size: var(--regular-font-size);
  color: var(--second-font-color);
  /* border-bottom: 1px solid var(--active-color); */
  text-align: center;
  transition: .3s ease-in;
}

.sub--menu--item:active {
  transform: scale(1.2);
}
/* .submenu:hover .sub--menu {
} */

.list--item :hover {
  color: var(--active-color);
  font-weight: var(--heavy-font-weight);
  /* border-bottom: 1px solid var(--active-color); */
}

.list--item:hover {
  color: var(--active-color);
  font-weight: var(--heavy-font-weight);

}

/* .list--item:active {
  color: var(--active-color);
  font-weight: var(--heavy-font-weight);
  transform: scale(1.1);
} */
.sub--menu--item:hover {
  color: var(--active-color);
}

.sub__menu__favs {
  position: absolute;
  top: 4rem;
  width: 100%;
}

.fav--game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  transition: .5s ease;
  font-size: var(--large-font-size);
}

.fav--game:last-child {
  justify-content: flex-end;
}

.fav--game .eye--check {
  opacity: 0;
}

.fav--game:hover .eye--check {
  opacity: 1;
}

.fav--game:hover {
  /* color: red; */
  transform: translateX(1rem);
}

.count__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 18%;
  width: 20px;
  height: 20px;
  background-color: var(--active-color);
  border-radius: 50%;
}

.count--game {
  font-size: var(--regular-font-size);
  font-weight: var(--heavy-font-weight);
  color: var(--bad-rating-color);
}

.drop__down__list {
  visibility: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-content: flex-end;
  /* background-color: var(--border-color); */
  border: 1px solid var(--active-color);
  margin-bottom: 30px;
  ;
  padding: 15px;
  font-family: var(--second-font);
  border-radius: 10px;
  /* padding-left: 15px; */
}

.navbar {
  display: none;
  width: 50%;
  position: relative;
}

.navbar__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  /* position: relative; */
}

.navbar__container a {
  width: 100%;
  text-decoration: none;
  font-size: var(--large-font-size);
  font-weight: var(--heavy-font-weight);
  color: var(--second-font-color);
  transition: .2s ease;
  position: relative;
}

.navbar__container a:hover {
  transform: scale(1.1);
}
.navbar--item {
  /* align-self: center; */
  display: flex;
  align-self: center;
  position: relative;
  height: 20px;
  font-family: var(--second-font);
  font-size: var(--large-font-size);
  color: var(--second-font-color);
  transition: .3s ease;
  cursor: pointer;
}

.navbar .drop__down__list {
  display: none;
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  /* top: 40px; */
  top: 40px;
  left: 0;
  background-color: var(--dark-gray-color);
  margin: 0;
  padding: 15px;
  color: var(--second-font-color);
  border: none;
  /* left: 0; */
}


.navbar--item:hover {
  transform: scale(1.5);
  /* font-size: var(--jumbo-font-size); */
  color: var(--active-color);
  text-shadow: var(--box-shadow-color);
}


/*ANIMATIONS*/
@keyframes border-light {
  0% {
    /* border: 1px solid var(--second-font-color); */
  }
  50% {
    /* border: 1px solid var(--active-color); */
    box-shadow: var(--box-shadow-color);
  }
  100% {
    /* border: 1px solid var(--second-font-color); */
  }
}
/*HEADER QUERIES*/

@media only screen and ( min-width: 768px ) {
  .header {
    font-size: var(--jumbo-font-size);
  }

}

@media only screen and ( min-width: 1024px ) {
  .header {
  align-items: center;
  height: 50px;
  }
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .icon--menu {
    display: none;
  }

  .drop__menu {
    display: none;
  }
  .header .close--icon {
    display: none;
  }

  .search__bar {
    position: absolute;
    width: 35rem;
    bottom: -6.5rem;
    margin: 0;
    background-color: none;
  }

  .search--input {
    width: 100%;
    height: 4rem;
    border: none;
    /* border-radius: 10px; */
    padding: 0 1rem;
    box-shadow: var(--box-shadow-color);
  }

  .button--submit {
    display: none;
  }
}