.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  /* position: absolute;
  top: 0; */
}

.hero__img__container {
  position: absolute;
  top: 0;
  z-index: -1;
  /* height: 500px; */
}

.hero--img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transition: .3s ease;
}

.hero__text__content {
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  position: absolute;
  bottom: 100px;
  width: 100%;
  /* height: 300px; */
  font-size: var(--extra-jumbo-font-size);
  /* font-size: 24px; */
  color: var(--main-font-color);
  animation: fadeInUp;
  animation-duration: 2s;
}

.hero--text {
  text-align: center;
}

.check__now {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  position: absolute;
  bottom: 10px;
  color: white;
  font-size: var(--regular-font-size);
  animation: fadeIn;
  /* animation-delay: 3s; */
  animation-duration: 2s;
}

/*HERO QUERIES*/

@media only screen and (min-width: 768px) {
  .hero__text__content {
    justify-content: center;
    font-size: var(--jumbo-font-size);
  }

  .check__now {
    justify-content: space-around;
    align-items: center;
    font-size: var(--jumbo-font-size);
  }
}

@media only screen and ( min-width: 1024px) {
  .check__now {
    width: 50%;
  }
}