.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  /* position: relative; */
  /* position: absolute;
  top: 0; */
}

.hero__img__container {
  /* position: absolute; */
  /* display: flex;
  flex-direction: column;
  top: 0;
  z-index: -1; */
  /* height: 500px; */
  position: absolute;
  top: 0;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
}

.hero--img {
  /* width: 100%;
  height: 100%; */
  /* height: 100vh; */
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  object-fit: cover;
  transition: .3s ease;
  /* animation-name: pulse;
  animation-iteration-count: 10;
  animation-timing-function: ease 5s;
  animation-delay: 2s; */
}

.hero__text__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 2rem; */
  height: 5rem;
  margin-top: 6rem;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: flex-end; */
  /* position: absolute; */
  /* bottom: 100px; */
  /* position: relative; */
      /* border: 1px solid red; */
  /* height: 300px; */
  /* font-size: 24px; */
}

.hero__img__content .list--title {
  margin: 0;
}

.hero--text {
  /* height: 150px; */
  width: 100%;
  position: absolute;
  /* left: 50%; */
  bottom: 20%;
  /* transform: translateX(-50%); */
  text-align: center;
  font-size: var(--extra-jumbo-font-size);
  color: var(--main-font-color);
  /* z-index: 1; */
  animation: fadeInUp;
  animation-duration: 2s;
  /* align-self: ; */
  /* bottom: 0; */
}

.home__animation {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  
  /* background-image: url('https://firebasestorage.googleapis.com/v0/b/proyects-screenshots.appspot.com/o/whatgame%2Fbackground.png?alt=media&token=5aaad231-1e61-4673-827f-d09c427467e3'); */
}

iframe {
  display: none;
}

.background__image {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  /* z-index: -3; */
}

.background__image img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.hero__img__container .home__animation {

}

.home__details {
  width: 100%;
  display: flex;
  position: absolute;
  /* bottom: 30%; */
  transform: rotate(45deg);
  filter: drop-shadow(2px 4px 4px black);
  opacity: .4;
  top: 57%;
  left: 40%;
}
.home__details__reverse {
  width: 100%;
  display: flex;
  position: absolute;
  /* bottom: 30%; */
  /* transform: rotate(-45deg); */
  filter: drop-shadow(2px 4px 4px black);
  opacity: .4;
  /* bottom: -42%; */
  top: 57%;
  right: 40%;
  transform: scale(-1) rotate(-45deg);
}

.home--detail--1 {
  width: 50rem;
  height: 100vh;
  /* background-color: lightblue; */
  background-color: var(--active-color);
  animation-name: intro;
  animation-iteration-count: 10;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  transition: ease;
}
.home--detail--2 {
  width: 50rem;
  height: 100vh;
  background-color: var(--active-color);
  animation-name: intro;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: .5s;
  transition: ease;
  animation-iteration-count: 10;
  animation-fill-mode: forwards;
}
.home--detail--3 {
  width: 50rem;
  height: 100vh;
  background-color: var(--active-color);
  /* background-color: lightseagreen; */
  animation-name: intro;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: 1s;
  transition: ease;
  animation-iteration-count: 10;
  animation-fill-mode: forwards;
}

/*------------------*/

@keyframes intro {
  0% {
    transform: scale(1);
    opacity: .3;
  }
  50% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: .3;
  }
}


/*-------------------*/

.check__now {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 30px;
  position: absolute;
  bottom: 10%;
  color: white;
  font-size: var(--regular-font-size);
  animation: fadeIn;
  /* animation-delay: 3s; */
  animation-duration: 2s;
  z-index: 2;
}

.check__now p {
  transition: ease .2s;
  cursor: pointer;
}

.check__now p:hover {
  color: var(--active-color);
}

/*HERO QUERIES*/

@media only screen and (min-width: 768px) {
  .hero__text__content {
    justify-content: center;
    font-size: var(--jumbo-font-size);
  }

  .check__now {
    justify-content: space-around;
    align-items: center;
    font-size: var(--jumbo-font-size);
  }
}

@media only screen and ( min-width: 1024px) {
  .check__now {
    width: 50%;
  }
}