.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  /* position: relative; */
  /* position: absolute;
  top: 0; */
}

.hero__img__container {
  /* position: absolute; */
  /* display: flex;
  flex-direction: column;
  top: 0;
  z-index: -1; */
  /* height: 500px; */
  position: absolute;
  top: 0;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
}

.hero--img {
  /* width: 100%;
  height: 100%; */
  /* height: 100vh; */
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  object-fit: cover;
  transition: .3s ease;
}

.hero__text__content {
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  position: absolute;
  bottom: 100px;
  width: 100%;
  position: relative;
  /* height: 300px; */
  /* font-size: 24px; */
}

.hero--text {
  /* height: 150px; */
  width: 100%;
  position: absolute;
  bottom: 90px;
  text-align: center;
  font-size: var(--extra-jumbo-font-size);
  color: var(--main-font-color);
  /* z-index: 1; */
  animation: fadeInUp;
  animation-duration: 2s;
  /* align-self: ; */
  /* bottom: 0; */
}

.check__now {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 30px;
  position: absolute;
  bottom: 0px;
  color: white;
  font-size: var(--regular-font-size);
  animation: fadeIn;
  /* animation-delay: 3s; */
  animation-duration: 2s;
  z-index: 2;
}

/*HERO QUERIES*/

@media only screen and (min-width: 768px) {
  .hero__text__content {
    justify-content: center;
    font-size: var(--jumbo-font-size);
  }

  .check__now {
    justify-content: space-around;
    align-items: center;
    font-size: var(--jumbo-font-size);
  }
}

@media only screen and ( min-width: 1024px) {
  .check__now {
    width: 50%;
  }
}