.modal__container {
  /* width: 100%;  */
  /* display: flex;  */
}

.Modal {
  overflow-y: auto;
  /* text-align: center; */
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: var(--dark-color);
  /* opacity: .3; */
  /* border: 1px solid var(--active-color); */
  border-radius: 10px;
  box-shadow: 0 0 10px 40px var(--dark-color);
  /* padding: 10px; */
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/re-v.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  /* filter: blur(8px); */
  /* background-color: rgba(0, 0, 0, 0.8); */
}

.card__info {
  /* display: flex;
  justify-content: center; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: rgb(228, 228, 228);
  /* z-index: 110000; */
}
.card__modal {
  /* position: absolute;  PENDING*/
  width: 100%;
  height: 100%;
  top: 0;
  border: 5px solid green;
  /* background-color: #000; */
  opacity: 0.8;
}

.card__hero {
  position: relative;
  display: flex;
  flex-flow: column;
}

.card__hero .submit--button {
  /* float: right; */
  align-self: flex-end;
  margin: 15px 0;
}

.game__img {
  display: flex;
  justify-content: center;
  position: relative;
  height: auto;
  /* opacity: .8; */
}
.card--image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  opacity: .7;
  /* height: 100%; */
  /* position: absolute;
  object-fit: cover; */
  /* position: relative; */
}

.card--title {
  position: absolute;
  bottom: 70px;
  font-family: var(--second-font);
}

.ratin__stars {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 20px;
  /* border: 1px solid green; */
}

.game__info {
  margin-top: 20px;
}
.info--title {
  font-weight: var(--heavy-font-weight);
  font-family: var(--second-font);
}

.info--title span {
  margin-left: 10px;
  color: var(--second-font-color);
}

.game__description {

}

.game--subtitles {
  font-size: var(--large-font-size);
  margin-bottom: 15px;
}

.game--description {
    letter-spacing: 2px;
    text-align: justify;
    font-size: var(--small-font-size);
    line-height: 29px;
}

.game__gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.game__gallery .game--subtitles {
  align-self: flex-end;
}

.main__image__gallery {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.main--gallery--image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  text-align: center;
  border-radius: 10px;
}

.game__gallery__selection {
  display: flex;
  overflow-x: auto;
  /* z-index: 10; */
  opacity: .8;
}

.selection--image {
  width: 80px;
  height: 120px;
  object-fit: cover;
  margin-right: 10px;
}

.active--selection {
}

.selection--image:hover {
  border: 2px solid var(--active-color);
  box-shadow: 0 0 11px -1px var(--active-color);
}