:root {
  /* backkground colors */
  --dark-color: #373A40;
  --dark-gray-color: #686D76;
  
  --active-color: #25F3FB;
  /* rating colors */
  --high-rating-color: #78BB68;
  --medium-rating-color: #D4DA90;
  --low-rating-color: #D27F50;
  --bad-rating-color: #D47F7F;

  
  /* fonts */
  --main-font: 'Dosis', sans-serif;
  --second-font:'Inconsolata', monospace;
  /* font colors */
  --main-font-color: #EEEEEE;
  --second-font-color: #19D3DA;
  /* font weight */
  --regular-font-weight: 300;
  --heavy-font-weight: 400;
  /* font-size */
  --small-font-size: 16px;
  --regular-font-size: 20px;
  --large-font-size: 25px;
  --extra-large-font-size: 30px;
}