:root {
  /* backkground colors */
  /* --dark-color: #373A40; */
  --dark-color: #131313;
  /* --dark-color: #000000d0; */
  --dark-gray-color: #00000081;
  --background-menu-color: rgba(1, 1, 1, 0.876);
  --overlay-color: #1d1e20;
  --border-color: #19d4da6b;
  
  /* --active-color: #25f4fb78; */
  --active-color: #25F3FB;
  --active-shadow-color: rgba(37, 243, 251, 0.3);
  /* rating colors */
  --rating-stars-color: #fcf082;
  --high-rating-color: #78BB68;
  --medium-rating-color: #edf59b;
  --low-rating-color: #e98f5b;
  --bad-rating-color: #e07171;

  
  /* fonts */
  --main-font: 'Dosis', sans-serif;
  --second-font:'Inconsolata', monospace;
  /* font colors */
  --main-font-color: #EEEEEE;
  --second-font-color: #19D3DA;
  /* font weight */
  --regular-font-weight: 500;
  --heavy-font-weight: 700;
  /* font-size */
  --small-font-size: 1.3rem;
  --regular-font-size: 1.6rem;
  --large-font-size: 2.1rem;
  --extra-large-font-size: 2.4rem;
  --jumbo-font-size: 3rem;
  --extra-jumbo-font-size: 4rem;

  /*BOX SHADOW*/
  --shadow-button-color: 0 0 11px -1px var(--active-color);
  --box-shadow-color: 0 0 11px 2px var(--active-color);
  --dark-shadow-color: -9px 0 15px 10px var(--dark-color);
  --dark-shadow-color2: -9px 0 25px 25px var(--dark-color);
  --card-shadow-color: -20px 0 11px 4px var(--dark-color);

  /* --animate-delay: 2s; */

  /*FADE CONTENTS*/
 --fade-main-color: rgb(0,0,0);
 --fade-gradient: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);

 /*FIX VIEWPORT*/
 --vh: 0.01;
}