

.submit--button {
  width: 150px;
  height: 40px;
  background-color: rgba(0,0,0,0);
  border: 2px solid var(--second-font-color);
  box-shadow: var(--shadow-button-color);
  font-size: var(--regular-font-size);
  color: var(--main-font-color);
  cursor: pointer;
}

